.btn.btn-primary {
    transition: 200ms;
    border-radius: 5px;
    touch-action: manipulation;
    padding: 10px 15px;

}

.btn.btn-primary:not(:disabled):hover,
.btn.btn-primary:not(:disabled):focus {
  outline: 0;
  background: default;
  box-shadow: 0 0 0 2px rgb(35 213 81 / 80%), 0 3px 8px 0 rgb(29 17 178 / 47%);
}

.btn.btn-primary:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}