
.question-container {
    width: 100%;
    min-height:315px;
    background:#fff;
    width: 100%;
    overflow: hidden;
    background:#fff;
    padding: 10px 20px;
    text-align: left;
}

.question-container .title p {
    padding: 0;
    margin: 0;
}